block content
    .container#dashboard_window(style="display: none;")
        <div id="canvas-holder" style="width:50%;float:left;" class="col-xs-6">
        <canvas id="incidentsDifferentStates"></canvas></div>
        <div id="canvas-holder" style="width:50%;float:right;" class="col-xs-6">
        <canvas id="incidentsDifferentStatesAndPriorities" ></canvas></div>
        <div id="canvas-holder" style="width:50%;float:left;" class="col-xs-6">
        <canvas id="incidentsDifferentEmergencyTypes"></canvas></div>
        <div id="canvas-holder" style="width:50%;float:right;" class="col-xs-6">
        <canvas id="incidentsWeaponRelated"></canvas></div>
        <div id="canvas-holder" style="width:50%;float:left;" class="col-xs-6">
        <canvas id="incidentsWeeklyTrend"></canvas></div>
        <div id="canvas-holder" style="width:50%;float:right;" class="col-xs-6">
        <canvas id="incidentsCauseOfFire"></canvas></div>
        <div id="canvas-holder" class="col-xs-6" style="width:50%;float:left;">
        <canvas id="incidentMedicalCondition"></canvas></div>
        <div id="canvas-holder" class="col-xs-6" style="width:50%;float:right;">
        <canvas id="numberOfPersonnels"></canvas></div>
        <div id="canvas-holder" class="col-xs-6">
        <canvas id="resourcesInDifferentStates"></canvas></div>
