block content
    div#workingHospitalId(style='display: none;')
    .container#erbed_window(style='display: none;')
        form
            .card-spacer
            .card-spacer
            .card-spacer
            .card-spacer
            .card-spacer
            .card-spacer
            .card
                .card-body
                    .card-spacer
                    .card-spacer
                    .card-spacer
                    p.card-title Beds currently availble at
                    h4#workingHospitalName.card-title
                    .card-spacer
                    .card-spacer
                    .card-spacer
                    .card-spacer
                    .card-spacer
                    .form-group.row
                        .col-sm-10
                            input#erbedNumber.form-control(type='text', placeholder='')
                .card-spacer
                .card-spacer
                .card-spacer
                .card-spacer
                .card-spacer
                .card-spacer
                .card-spacer
                .card-spacer
                .card-spacer
                .card-spacer
                .card-spacer
                .card-spacer
                .card-spacer
                .card-spacer
                .card-spacer
                .card-spacer
                .card-spacer
