block content
    .container#truck_directory_window(style='display:none')
        .card-spacer
        .card-spacer
        .card-spacer
        .card-spacer
        .card-spacer
        .card-spacer
        .row.first-row
            #truckDirectory.col-12