block content
    .container#hospital_directory_window(style='display:none')
        .row.first-row
            #hospitalDirectory.col-12

        button#addHospitalButton.btn.btn-primary.btn-raised.bmd-btn-fab.float-right(type='button')
            i.material-icons.md-24.md-light.center(style="vertical-align: middle") add
