block content
    .container#instructionWindow(style='display: none')
        .container#instructionListPage
            .panel
                .card
                    .card-body
                        h3.card-title First Aid Instructions
                        #instructionList.list-group
        .container#instructionDetailPage
            .panel
                .card
                    .card-body
                        h3.card-title#instructionDetailTitle
                        #instructionDetailContent



