block content
.container#patients_directory_window(style='display: none')
	.card-spacer
	.card
		.card-body
			h5.card-title#patientsListFirstTableTitle
			table.table.table-striped
				tbody#patientsListFirstTableBody

	.card-spacer
	.card
		.card-body
			h5.card-title#patientsListSecondTableTitle
			table.table.table-striped
				tbody#patientsListSecondTableBody

	.card-spacer
	.card
		.card-body
			h5.card-title#patientsListThirdTableTitle
			table.table.table-striped
				tbody#patientsListThirdTableBody
