block content
    .container#situations_window(style='display: none')
        .card-spacer
        .card
            .card-body
                h5.card-title Situations near you
        #situationList

        #situationsSpinner(style='display: none')
            .loader

        .card-spacer

        button#createNewSituationButton.btn.btn-primary.btn-raised.bmd-btn-fab.bmd-btn-fab-sm.add-btn
            i.material-icons.md-24.md-light add