#div-map-area {
    position: absolute;
    top: 86px;
    bottom: 0;
    width: 100%;
    margin-left: -15px;
    margin-right: -15px;
}

#org-tracking-list {
    position: absolute;
    top: 86px;
    z-index: 5;
    margin-left: -15px;
}

#org-tracking-list .card-header {
    padding: 0 !important;
}

#org-tracking-list .card-body {
    margin-bottom: 0.5rem !important;
}

#org-tracking-list-trigger {
    position: absolute;
    right: 1.5rem;
    top: 86px;
    z-index: 5;
    margin-top: 0.5rem !important;
}
